<?xml version='1.0' encoding='UTF-8' standalone='yes'?>
<otestpoint-recorder file="persist/@NODEID@/var/log/otestpoint-recorder.data">
  <testpoint publish="node-@NEMID@:8882"/>
</otestpoint-recorder>
